<widget id="tech.lwl.zhihudaily" version="0.0.1" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>知乎日报</name>
  <preference name="ChildBrowser" value="disable"/>
  <license href="MIT"/>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="http://zhihu.com" subdomains="true"/>
  <access origin="http://zhimg.com" subdomains="true"/>
  <access origin="https://zhihu.com" subdomains="true"/>
  <access origin="https://zhimg.com" subdomains="true"/>
  <description>bb10 知乎日报，webworks 版本</description>
  <author email="954408050@qq.com" href="github.com/ekoooo">liuwanlin</author>
  <icon src="img/logo.png"/>
</widget>