/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 1920px) and (min-width: 720px) { html, body{ font-size: 20px }.viewport{max-width: 720px;}}
@media only screen and (max-width: 719px) and (min-width:690px) { html, body{ font-size: 19.4444px; }.viewport{max-width: 700px;}}
@media only screen and (max-width: 689px) and (min-width:660px) { html, body{ font-size: 18.6331px; }.viewport{max-width: 689px;}}
@media only screen and (max-width: 659px) and (min-width:630px) { html, body{ font-size: 17.8217px; }.viewport{max-width: 659px;}}
@media only screen and (max-width: 629px) and (min-width:600px) { html, body{ font-size: 17.0103px; }.viewport{max-width: 629px;}}
@media only screen and (max-width: 599px) and (min-width:570px) { html, body{ font-size: 16.1989px; }.viewport{max-width: 599px;}}
@media only screen and (max-width: 569px) and (min-width:540px) { html, body{ font-size: 15.3876px; }.viewport{max-width: 569px;}}
@media only screen and (max-width: 539px) and (min-width:510px) { html, body{ font-size: 14.5763px; }.viewport{max-width: 539px;}}
@media only screen and (max-width: 509px) and (min-width:480px) { html, body{ font-size: 13.7650px; }.viewport{max-width: 509px;}}
@media only screen and (max-width: 479px) and (min-width:450px) { html, body{ font-size: 12.9537px; }.viewport{max-width: 479px;}}
@media only screen and (max-width: 449px) and (min-width:420px) { html, body{ font-size: 12.1424px; }.viewport{max-width: 449px;}}
@media only screen and (max-width: 419px) and (min-width:390px) { html, body{ font-size: 11.3311px; }.viewport{max-width: 419px;}}
@media only screen and (max-width: 389px) and (min-width:360px) { html, body{ font-size: 10.5189px; }.viewport{max-width: 389px;}}
@media only screen and (max-width: 359px) and (min-width:330px) { html, body{ font-size: 9.7067px; }.viewport{max-width: 359px;}}
@media only screen and (max-width: 329px) and (min-width:250px) { html, body{ font-size: 8.8955px; }.viewport{min-width: 320px;}}

/*主页 start*/
.stories_box {
    -webkit-transform: translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;
}

.stories {
    box-sizing: border-box;
    padding: 0.5rem;
}

.stories_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important; /*防止知乎引入样式的 padding 影响*/
}

.stories_list li {
    width: 49.5%;
    margin-top: 1.1%;
}

.stories_list li a {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 12rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,.5);
}

.stories_desc {
    height: 100%;
    align-content: center;
    flex: 1;
    font-size: 2.25rem;
    overflow: hidden;
}

.stories_ico {
    width: 10rem;
    height: 100%;
    background-size: 100% 100% !important;
}

.stories_date {
    margin: 0.5rem auto;
    padding: 0 1rem;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.25rem;
    color: #fff;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #00BFFF 0%, #0BDED7 50%, #ffffff 100%);
    background-repeat: no-repeat;
    -webkit-animation: linear stories_date_bg_eff 10s infinite;
}

@-webkit-keyframes stories_date_bg_eff {
    0% {
        -webkit-background-size: 50% 100%;
        background-size: 50% 100%;
    }
    50% {
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    100% {
        -webkit-background-size: 50% 100%;
        background-size: 50% 100%;
    }
}

.loading {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 2.5rem;
    background: rgba(0,0,0,.5);
    color: #fff;
    z-index: 999999;
}

#img_slider {
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

#img_slider ul {
    height: 100%;
    padding: 0;
}

#img_slider ul li {
    float: left;
    height: 100%;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    -webkit-animation: linear content_head_img_ani 30s infinite;
}

#img_slider ul li a {
    position: relative;
    display: block;
    height: 100%;
}

#img_slider ul li p {
    position: absolute;
    width: 100%;
    padding: 0 2rem;
    bottom: 2.5rem;
    color: #fff;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0 !important;
}

#img_slider >div {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

#img_slider >div a {
    display: inline-block;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(0,0,0,0.5);
    margin: 0 0.5rem;
}

#img_slider >div a.active {
    background-color: #fff;
}
/*主页 end*/


/*栏目总览/主题日报列表 start*/
.sections_themes_list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1%;
    padding-bottom: 1%;
}

.sections_themes_list li {
    width: 32.33%;
    margin-top: 1%;
    margin-right: 1%;
}

.sections_themes_list li a {
    display: block;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: 2.25rem;
    font-weight: bold;
    color: #fff;
    height: 15rem;
    padding: 2rem 1rem;
    border-radius: 5px;
    background-color: #fff;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,.5);
}

.sections_themes_list li a div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 6rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    text-align: left;
    padding: 0.5rem 1.5rem;
    background: rgba(0,0,0,0.4);
}
/*栏目总览/主题日报列表 end*/


/*弹出遮罩 start*/
.mask {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 6rem;
    overflow: auto;
    box-sizing: border-box;
    z-index: 9;
    background-color: #fff;
}

.mask .head {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
}

.mask .head .title {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    padding: 0 5rem;
    box-sizing: border-box;
}

.close_btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    right: 1.5rem;
    top: 50%;
    outline: none;
    border: 1px solid #eee;
    background: -webkit-linear-gradient(bottom, #00BFFF 0%, #0BDED7 100%);
    color: #fff;
    font-size: 1.5rem;
    -webkit-transform: translateY(-50%);
}

.content_box_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
/*弹出遮罩 end*/


/*news start */
.mask .headline-background .heading-content,
.mask .large .question-title {
    font-size: 2.5rem !important;
}

.mask .meta,
.mask .content,
.mask .view-more a,
.mask .question-title,
.mask .headline-background .heading,
.mask .comment-item,
.mask .comment-item a,
.mask .headline-title,
.mask .headline .meta a,
.mask .headline .meta a:hover,
.mask .large .meta,
.mask .large .content,
.mask .answer h1, 
.mask .answer h2, 
.mask .answer h3, 
.mask .answer h4, 
.mask .answer h5 {
    font-size: 2.25rem !important;
}

.mask .footer, 
.mask .comment-meta .vote {
    font-size: 2rem !important;
}

.mask .headline .heading-content {
    font-size: 1.75rem !important;
}

.mask .view-more a {
    height: 3.25rem !important;
    line-height: 3.25rem !important;
}

.mask .meta .avatar, 
.mask .comment-meta .avatar {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}


div[data-bb-type="screen"] img {
    vertical-align: baseline;
}

.content_head_img {
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: pink;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-size: 100% !important;
    -webkit-animation: linear content_head_img_ani 30s infinite;
}

.content_head_img .img_source {
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    bottom: 0.5rem;
    right: 0.5rem;
}

.content_head_img .img_description {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 0 5rem;
    font-size: 2.25rem;
    color: #fff;
    text-align: center;
    bottom: 5rem;
}

@-webkit-keyframes content_head_img_ani {
    0% {
        background-position-y: center;
    }
    25% {
        background-position-y: bottom;
    }
    50% {
        background-position-y: center;
    }
    75% {
        background-position-y: top;
    }
    100% {
        background-position-y: center;
    }
}

.comments_info {
    position: absolute;
    bottom: -10rem;
    left: 0;
    width: 100%;
    padding-left: 1rem;
    background: -webkit-linear-gradient(left, #ffffff 0%, #0BDED7 50%, #ffffff 100%);
    background-repeat: no-repeat;
    -webkit-animation: linear stories_date_bg_eff 10s infinite;
}

.comments_info div {
    height: 3.35rem;
    line-height: 3.35rem;
    font-size: 1.5rem;
    color: #515151;
}

.comments_info div img {
    height: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.stories_editors {
    padding-top: 1.5rem;
    overflow: hidden;
    font-size: 2.25rem;
}

.stories_editors ul {
    float: left;
    overflow: hidden;
    padding: 0;
}

.stories_editors ul li p {
    font-size: 1.5rem;
    color: #000;
    margin: 0 !important;
}

.stories_editors ul li {
    text-align: center;
    float: left;
    margin: 0 2rem 0.5rem 0;
}

.stories_editors ul img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
}

.stories_editors ul a {
    overflow: hidden;
    display: inline-block;
}

.open_url {
    width: 100%;
    bottom: 1rem;
    text-align: center;
    position: absolute;
}

.open_url >div {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    line-height: 10rem;
    color: #fff;
    margin: 2.5rem auto 0.5rem auto;
    background: -webkit-linear-gradient(bottom, #00BFFF 0%, #0BDED7 100%);
}
/*news end */

/*img zoom start */
#view_img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}

#view_img_box img {
    max-width: 90%;
    max-height: 100%;
    min-width: 80%;
}
/*img zoom end */

/*评论查看start*/
.show_comments_btn {
    float: left;
    width: 49.2%;
}

.show_comments_btn.active {
    background-color: #eee;
}

.comments_info_box {
    font-size: 2rem;
}

.comments_info_box li {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 1rem 1rem 2.5rem 1rem;
}

.comments_info_avatar {
    width: 6rem;
    height: 6rem;
    float: left;
}

.comments_info_avatar img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.comments_info_desc {
    margin-left: 7rem;
}

.comments_info_author {
    font-weight: bold;
    line-height: 6rem;
}

.comments_info_content {
    line-height: 3rem;
    color: #000;
}

.comments_info_time {
    font-size: 1.75rem;
    margin-top: 1rem;
    color: #888;
}

.comments_info_content_liks {
    position: relative;
    float: right;
    font-size: 1.75rem;
    color: #888;
}

.comments_info_content_liks:before {
    position: absolute;
    top: 1.65rem;
    left: -3rem;
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/ico_likes.png) no-repeat center center;
    background-size: 95% 100%;
}

.comments_r_info_content {
    padding-left: 2em;
    font-size: 1.75rem;
    line-height: 2.75rem;
    color: #888;
}

.comments_r_info_content span {
    font-weight: bold;
}

#comments_info_box_long {
    display: none;
}
/*评论查看end*/

/*选择日期 start*/
#change_date_ipt {
    position: absolute;
    bottom: 8rem;
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
    width: 97%;
    height: 6rem;
    text-align: center;
}

#change_date_btn {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    margin: 1rem;
    width: 97%;
    height: 6rem;
}
/*选择日期 end*/