/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*@media only screen and (max-width: 1920px) and (min-width: 720px) { body{ font-size: 20px !important; }.viewport{max-width: 720px;}}
@media only screen and (max-width: 719px) and (min-width:690px) { body{ font-size: 19.4444px !important; }.viewport{max-width: 700px;}}
@media only screen and (max-width: 689px) and (min-width:660px) { body{ font-size: 18.6331px !important; }.viewport{max-width: 689px;}}
@media only screen and (max-width: 659px) and (min-width:630px) { body{ font-size: 17.8217px !important; }.viewport{max-width: 659px;}}
@media only screen and (max-width: 629px) and (min-width:600px) { body{ font-size: 17.0103px !important; }.viewport{max-width: 629px;}}
@media only screen and (max-width: 599px) and (min-width:570px) { body{ font-size: 16.1989px !important; }.viewport{max-width: 599px;}}
@media only screen and (max-width: 569px) and (min-width:540px) { body{ font-size: 15.3876px !important; }.viewport{max-width: 569px;}}
@media only screen and (max-width: 539px) and (min-width:510px) { body{ font-size: 14.5763px !important; }.viewport{max-width: 539px;}}
@media only screen and (max-width: 509px) and (min-width:480px) { body{ font-size: 13.7650px !important; }.viewport{max-width: 509px;}}
@media only screen and (max-width: 479px) and (min-width:450px) { body{ font-size: 12.9537px !important; }.viewport{max-width: 479px;}}
@media only screen and (max-width: 449px) and (min-width:420px) { body{ font-size: 12.1424px !important; }.viewport{max-width: 449px;}}
@media only screen and (max-width: 419px) and (min-width:390px) { body{ font-size: 11.3311px !important; }.viewport{max-width: 419px;}}
@media only screen and (max-width: 389px) and (min-width:360px) { body{ font-size: 10.5189px !important; }.viewport{max-width: 389px;}}
@media only screen and (max-width: 359px) and (min-width:330px) { body{ font-size: 9.7067px !important; }.viewport{max-width: 359px;}}
@media only screen and (max-width: 329px) and (min-width:250px) { body{ font-size: 8.8955px !important; }.viewport{min-width: 320px;}}*/

/*主页 start*/
.stories_box {
    -webkit-transform:translate3d(0,0,0);
    -webkit-overflow-scrolling: touch;
}

.stories {
    box-sizing: border-box;
    padding: 10px;
}

.stories_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 !important; /*防止知乎引入样式的 padding 影响*/
}

.stories_list li {
    width: 49.5%;
    margin-top: 10px;
}

.stories_list li a {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 240px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,.5);
}

.stories_desc {
    height: 100%;
    align-content: center;
    flex: 1;
    font-size: 45px;
    overflow: hidden;
}

.stories_ico {
    width: 200px;
    height: 100%;
    background-size: 100% 100% !important;
}

.stories_date {
    margin: 10px auto;
    padding: 0 20px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 45px;
    color: #fff;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #00BFFF 0%, #0BDED7 50%, #ffffff 100%);
    background-repeat: no-repeat;
    -webkit-animation: linear stories_date_bg_eff 10s infinite;
}

@-webkit-keyframes stories_date_bg_eff {
    0% {
        -webkit-background-size: 50% 100%;
        background-size: 50% 100%;
    }
    50% {
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    100% {
        -webkit-background-size: 50% 100%;
        background-size: 50% 100%;
    }
}

.loading {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 50px;
    background: rgba(0,0,0,.5);
    color: #fff;
    z-index: 999999;
}

#img_slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#img_slider ul {
    height: 100%;
    padding: 0;
}

#img_slider ul li {
    float: left;
    height: 100%;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    -webkit-animation: linear content_head_img_ani 30s infinite;
}

#img_slider ul li a {
    position: relative;
    display: block;
    height: 100%;
}

#img_slider ul li p {
    position: absolute;
    width: 100%;
    padding: 0 40px;
    bottom: 50px;
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 !important;
}

#img_slider >div {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

#img_slider >div a {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    margin: 0 10px;
}

#img_slider >div a.active {
    background-color: #fff;
}
/*主页 end*/


/*栏目总览/主题日报列表 start*/
.sections_themes_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.sections_themes_list li {
    width: 32%;
    margin-top: 10px;
}

.sections_themes_list li a {
    display: block;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    height: 300px;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: #fff; /**/
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    box-shadow: 1px 2px 7px 0 rgba(0,0,0,.5);
}

.sections_themes_list li a div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 120px;
    line-height: 50px;
    font-size: 32px;
    text-align: left;
    padding: 10px 30px;
    background: rgba(0,0,0,0.4);
}
/*栏目总览/主题日报列表 end*/


/*弹出遮罩 start*/
.mask {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    overflow: auto;
    box-sizing: border-box;
    z-index: 9;
    background-color: #fff;
}

.mask .head {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
}

.mask .head .title {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

.close_btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 30px;
    top: 50%;
    outline: none;
    border: 1px solid #eee;
    background: -webkit-linear-gradient(bottom, #00BFFF 0%, #0BDED7 100%);
    color: #fff;
    font-size: 30px;
    -webkit-transform: translateY(-50%);
}

.content_box_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
/*弹出遮罩 end*/


/*news start */
.mask .meta,
.mask .content,
.mask .view-more a,
.mask .question-title,
.mask .headline-background .heading,
.mask .comment-item,
.mask .comment-item a,
.mask .headline-title,
.mask .headline .meta a,
.mask .headline .meta a:hover {
    font-size: 40px !important;
}

.mask .headline .heading-content {
    font-size: 30px !important;
}

.mask .view-more a {
    height: 65px !important;
    line-height: 65px !important;
}

div[data-bb-type="screen"] img {
    vertical-align: baseline;
}

.content_head_img {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: pink;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-size: 100% !important;
    -webkit-animation: linear content_head_img_ani 30s infinite;
}

.content_head_img .img_source {
    position: absolute;
    font-size: 30px;
    color: #fff;
    bottom: 10px;
    right: 10px;
}

.content_head_img .img_description {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 0 100px;
    font-size: 45px;
    color: #fff;
    text-align: center;
    bottom: 100px;
}

@-webkit-keyframes content_head_img_ani {
    0% {
        background-position-y: center;
    }
    25% {
        background-position-y: bottom;
    }
    50% {
        background-position-y: center;
    }
    75% {
        background-position-y: top;
    }
    100% {
        background-position-y: center;
    }
}

.comments_info {
    position: absolute;
    bottom: -201px;
    left: 0;
    width: 100%;
    padding-left: 20px;
    background: -webkit-linear-gradient(left, #ffffff 0%, #0BDED7 50%, #ffffff 100%);
    background-repeat: no-repeat;
    -webkit-animation: linear stories_date_bg_eff 10s infinite;
}

.comments_info div {
    height: 67px;
    line-height: 67px;
    font-size: 30px;
    color: #515151;
}

.comments_info div img {
    height: 40px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.stories_editors {
    padding-top: 30px;
    overflow: hidden;
    font-size: 45px;
}

.stories_editors ul {
    float: left;
    overflow: hidden;
    padding: 0;
}

.stories_editors ul li p {
    font-size: 30px;
    color: #000;
    margin: 0 !important;
}

.stories_editors ul li {
    text-align: center;
    float: left;
    margin: 0 40px 10px 0;
}

.stories_editors ul img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.stories_editors ul a {
    overflow: hidden;
    display: inline-block;
}

.open_url {
    width: 100%;
    bottom: 20px;
    text-align: center;
    position: absolute;
}

.open_url >div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    line-height: 200px;
    color: #fff;
    margin: 50px auto 10px auto;
    background: -webkit-linear-gradient(bottom, #00BFFF 0%, #0BDED7 100%);
}
/*news end */

/*img zoom start */
#view_img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}

#view_img_box img {
    max-width: 90%;
    max-height: 100%;
    min-width: 80%;
}
/*img zoom end */

/*评论查看start*/
.show_comments_btn {
    float: left;
    width: 49.2%;
}

.show_comments_btn.active {
    background-color: #eee;
}

.comments_info_box {
    font-size: 40px;
}

.comments_info_box li {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 20px 20px 50px 20px;
}

.comments_info_avatar {
    width: 120px;
    height: 120px;
    float: left;
}

.comments_info_avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.comments_info_desc {
    margin-left: 140px;
}

.comments_info_author {
    font-weight: bold;
    line-height: 120px;
}

.comments_info_content {
    line-height: 60px;
    color: #000;
}

.comments_info_time {
    font-size: 35px;
    margin-top: 20px;
    color: #888;
}

.comments_info_content_liks {
    position: relative;
    float: right;
    font-size: 35px;
    color: #888;
}

.comments_info_content_liks:before {
    position: absolute;
    top: 33px;
    left: -60px;
    content: '';
    width: 50px;
    height: 50px;
    background: url(../img/ico_likes.png) no-repeat center center;
    background-size: 95% 100%;
}

.comments_r_info_content {
    padding-left: 2em;
    font-size: 35px;
    line-height: 55px;
    color: #888;
}

.comments_r_info_content span {
    font-weight: bold;
}

#comments_info_box_long {
    display: none;
}
/*评论查看end*/